
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    
    padding:0;
}
html{
    font-size: 16px;
}
.size{
    max-width:1600px;
    margin:0px;
    padding:0px;
    
}
.space{
    width:90%;
    margin: 0 auto;
}
body{
    background-color: rgba(65, 37, 103, 1);
    color:white;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}
.gradient{
     background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
     background-clip: text;  
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.gradient-btn{
    background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    color:white;
    height: 44px;
    border:none;
    transition: all 0.3s ease-in-out;
}
.gradient-btn:hover{
    transform: scale(1.25);
}

nav ul{
    display: flex;
    list-style: none;
    
}
nav li a{
    color:white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    margin-left: 32px;
    
}
nav button{
    padding: 12px 16px 12px 16px;
    margin-top: 10px;
    
}
nav  button i{
    margin-left: 4px;
}
.fa-bars{
    display: none;
}
.banner{
    background-image: url('./assets/hero-bg.png');
    width: 100%;
    max-width: none;
    height: 760px;
    background-size: 100% auto;
    background-position: center top;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle-container{
    position: relative;
    margin: 0 auto;
    width:100%
    
}
.circle{
    width: 100%;
    display: block;
}
.mic{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
   
}
.banner .mic{
    width:35%;
}
.badge{
    position: absolute;
    width: 75px;
    height: 38px;
    padding: 8px 16px 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    background-color: rgba(0, 255, 136, 1);
    color:black;
    font-size: 1.50rem;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    top:6%;
    left:75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text h1{
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 73px;
    margin-bottom: 0px;
}
.banner-text p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    color:rgba(255, 255, 255, 0.8);
    
}
.spotify{
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    border:none;
    
    
}
.spotify img{
    width: 10%;
    margin-right: 3%;
    vertical-align: middle;
}
.subs-btn{
   height: 44px;
   padding: 0px 20px;
   box-sizing: border-box;
   border: 1px solid rgba(0, 255, 136, 1);
   background-color: transparent;
   color:rgba(0, 255, 136, 1);
   border-radius: 10000px;
   display: inline-flex;      
   align-items: center;       
   gap: 8px;
   font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
   
}
.subs-btn img{
    width:21%;
    vertical-align: middle;
   
}
.about{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.about-heading h2{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 58px;
}
.about-heading p{
  color:rgba(255, 255, 255, 0.8);
}
.about-heading p1{
    
    width:80%;
    margin: 0 auto;
   
}
.p2{
    margin-top: 3%;
}
.about-hr{
    width:100%;
    border:1px solid rgba(255, 255, 255, 0.3);
    margin-top: 79.5px;
}
.about-container{
    display: flex;
    justify-content: space-around;
}
.about-container h2{
    color: rgba(0, 255, 136, 1);
    font-size: 2.5rem;
    font-weight: 800;
   line-height: 58px;
    margin-bottom: 0px;
}
.about-container{
    color:rgba(255, 255, 255, 0.8);
   font-size: 1rem;
   font-weight: 400;
   line-height: 20px;
}
.rate{
    display: inline-flex;
    align-items: center;
}
.fa-star{
   font-size: 1.9rem;

}
/* mobile */
@media screen and (max-width:576px) {
    .size{
        max-width:100%;
    }
    .space {
    width: 95%;
    margin: 0 auto;
    
}
nav ul{
    display: none;
}
nav button{
    display: none;
}
.fa-bars{
    display: inline;
    margin-top: 18px;
}
.banner{
    background-image: url('./assets/hero-bg.png');
    width:100%;
    height: 446px;
    background-size: cover;   
    position: relative;
    background-position: center center;

   
}
.circle-container{
    position: absolute;
    top:10%;
    left:28%;
    width:88%;
    margin: 0 auto;
     width: 43%;
}

.banner .mic{
    position: absolute;
    top:50%;
    left:50%;
    width:25%;
    
}
.badge{
    position: absolute;
    left:66%;
    width: 48px;
    height: 25px;
    font-size: 1.25rem;
}
.banner-text{
    
    margin-top: 45%;
    width: 95%;
}
.banner-text h1{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 80%;
}
.about-heading h2{
    line-height: 37px;
}
.about-hr{
    margin-top: 30px;
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
}